*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color:#1A0B2E;
}
.navbar{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding:24px 0px;
    align-items: center;


    
}
.navbar .logo{
    color: #FFFFFF;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
.navbar ul a{
    text-decoration: none;
    color: #FFFFFF;
}
.button{
    background: linear-gradient(
    to right,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    color: #FFFFFF;
    font-size:1rem;
    font-weight: 600px;
    padding: 12px;
    border: none;
    border-radius:10000px;
}
.banner{
    background: url(../images/hero-bg.png),url(../images/hero-circle.png);
    background-repeat: no-repeat,no-repeat;
    background-position: center,center;
    height:100vh;
}
.banner-card{
    border: 1px solid black;
    padding-top: 80px;
    width: 35%;
    margin: 0px auto;
    text-align: center;
    
}
.banner-img{
    border: 2px solid red;
    margin: 0px 50px;
    background: url(../images/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:330px;
    
    
    
}
.banner-img img{
    padding: 75px 115px;
}
.banner-info{
    border: 2px solid yellow;
    margin-top:40px;
}
.banner-info p{
    margin-top: 8px;
    margin-bottom: 24px;
    color: #FFFFFF;
}
.banner-info h1{
    color: #FFFFFF;
}
.banner-info .btn2{
    background: none;
    font-size:1rem;
    font-weight: 600px;
    padding: 12px;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
}
.about{
    background-color: #1A0B2E;
}
.about-total{
    width: 80%;
    margin: 0px auto;
    border: 2px solid black;
}
.about-info{
    border: 2px solid black;
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
}
.about-info h1{
    color: #FFFFFF;
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: 700;
}
.about-info p{
    color: #FFFFFF;
    margin: 0px auto;
    font-size: 1.25rem;
}
.about-info p span{
    display: block;
    margin-top: 10px;
}
.about-view{
    border: 2px solid red;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(1,auto);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 120px;

}
.about-view h1{
    font-size: 3rem;
    color: #00FF88;
    margin-bottom:1rem;
    
}
.about-view p{
    color:#FFFFFF;
}
.choose-total{
    background-color: #230E3D;
}
.choose{
    width: 80%;
    margin: 0px auto;
    padding: 120px 0px;
}
.choose-head h1{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;

}
.choose-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,225px);
    gap: 30px;
    margin-top: 40px;
}
.choose-card h3{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.choose-card p{
    color: #FFFFFF;
    opacity: 60%;
}
.headphone{
    background-color: #351165;
    border: 1px solid white;
    grid-row: span 2;
    border-radius: 40px;
    padding:100px 40px;
}
.device{
    background-color:#351165;
    grid-column: span 2;
    border-radius: 40px;
    padding: 40px;
    
}
.location{
    background-color: #351165;
    grid-column: span 2;
    border-radius: 40px;
    padding: 40px;
}
.interview{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
}
.resources{
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
}
.features-total{
    background-color: #1A0B2E;
}
.features-inside{
    width: 80%;
    margin: 0px auto;
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-head h1{
    color: #FFFFFF;
    text-align: center;
    font-size:3rem ;
    font-weight:700 ;
}
.features-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}
.ai-card,.remote-card,.career-card{
    border: 2px solid red;
}
.ai-info,.remote-info,.career-info{
    background-color: #250D44;
    padding: 24px;
    border-radius: 0px 0px 40px 40px;
    height:200px;

}
.ai-info h3,.remote-info h3,.career-info h3{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
}
.ai-info p,.remote-info p,.career-info p{
    color: #FFFFFF;
    opacity: 60%;
    font-size: 1rem;
    margin-top: 16px;
}
.clock{
    margin-top: 15px;
}
.clock span{
    align-items: center;
    color: #00FF88;
    font-weight: 600;
}
.meet-total{
    width: 80%;
    margin: 0px auto;
    padding-bottom: 120px;
}
.meet-head h1{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.meet-body{
    display: flex;
    background-color: #351165;
    gap: 24px;
    padding: 40px;
    align-items: center;
    border-radius: 40px;

}
.meet-info h3{
    color: #FFFFFF;
    font-size:2rem;
    font-weight: 700;
    margin-bottom: 16px;

}
.meet-info p{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 60%;
    margin-bottom: 16px;
}
.logo img{
    border: 1px solid #533C72;
    padding:20px;
    border-radius:25%;
    
}





